{% extends 'core/base.html' %}

{% block title %}Contacto{% endblock %}

{% block background %}{% load static %}{% static 'core/img/contact-bg.jpg' %}{% endblock %}

{% block headers %}
<h1>Contacto</h1>
<span class="subheading">Contacto</span>
{% endblock %}

{% block content %}
<div class="row"> 
    <div class="col-lg-8 col-md-10 mx-auto">
        <p>Soluciones en Tecnologías de la Información, Redes y Telecomunicaciones.
            Soporte Técnico TI Área Infraestructura de Redes. </p>
        <p>Para una consultoría dedicada al Servicio de Redes Informaticas, la mejor carta de presentación son soluciones proyectadas en: escalabilidad, fiabilidad y seguridad.</p>
            
        <br>
        <p><b>Teléfono:</b> +52 729 613 2528</p>
        <p><b>Honorarios:</b> 200$/h (precio base)</p>
    </div>
</div>
{% endblock %}

